<div class="blackLayer"></div>
<div class="content_and_background linkmap_page unplayed">
  <div class="backgroundArea">
    <%= background_image_div(configuration, 'fixed_background_image', class: 'fixed_background') %>
    <div class="scroller">
      <div class="linkmap">
        <div class="panorama_wrapper">
          <% if configuration['background_type'] == 'video' &&
                !Pageflow::ImageFile.find_by_id(configuration['panorama_image_id']) %>

            <%= background_image_div_with_size(configuration,
                                               'panorama_video',
                                               file_type: 'video_file',
                                               class: 'panorama panorama_image') %>
          <% else %>
            <%= background_image_div_with_size(configuration,
                                               'panorama_image',
                                               class: 'panorama panorama_image',
                                               style_group: :panorama) %>
          <% end %>

          <div class="panorama panorama_video">
            <%= lookup_video_tag(configuration['panorama_video_id'],
                                 configuration['poster_image_id'],
                                 loop: true,
                                 unique_id: page.id,
                                 preload: page.is_first) %>
          </div>

          <div class="hover_video">
          </div>

          <%= linkmap_areas_div(@entry, configuration) %>
          <div class="description_overlay">
            <div class="description_overlay_wrapper">
              <div class="link_title"></div>
              <div class="link_description"></div>
            </div>
          </div>
          <div class="touch_indicator"></div>
          <div class="external_link_loading_indicator">
            <div class="circle_inner">
              <div class="circle_innerst"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="arrow_up">
      <span class="hint"><%= t('.scroll_up') %></span>
    </div>
    <div class="arrow_left">
      <span class="hint"><%= t('.scroll_left') %></span>
    </div>
    <div class="arrow_right">
      <span class="hint"><%= t('.scroll_right') %></span>
    </div>
    <div class="arrow_down">
      <span class="hint"><%= t('.scroll_down') %></span>
    </div>
  </div>
  <div class="controls" data-role="player_controls">
    <div class="add_info_box">
      <div class="pager">
        <div class="paginator-scroller">
          <div>
            <div class="pager-pages">
              <div class="pager-page">
                <h3>Swipe</h3>
              </div>
              <% (configuration['linkmap_areas'].presence || []).each_with_index do |attributes, index| %>
                <div class="pager-page">
                  <h3><%= attributes['link_title'] %></h3>
                  <p><%= attributes['link_description'] %></p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
