<div class="black_layer"></div>
<%= content_tag(:div, class: linkmap_content_and_background_css_classes(configuration)) do %>
  <div class="page_background">
    <%= background_image_div(configuration, 'fixed_background_image', class: 'fixed_background') %>
    <div class="scroller">
      <div class="linkmap">
        <div class="pan_zoom_safe_area_wrapper">
          <div class="panorama_wrapper">
            <% if configuration['background_type'] == 'video' &&
                  !find_file_in_entry(Pageflow::ImageFile, configuration['panorama_image_id']) %>

              <%= background_image_div_with_size(configuration,
                                                 'panorama_video',
                                                 file_type: 'video_file',
                                                 class: 'panorama panorama_image') %>
            <% else %>
              <%= background_image_div_with_size(configuration,
                                                 'panorama_image',
                                                 class: 'panorama panorama_image',
                                                 style_group: :panorama) %>
            <% end %>

            <div class="panorama panorama_video">
              <%= lookup_video_tag(configuration['panorama_video_id'],
                                   configuration['poster_image_id'],
                                   loop: true,
                                   unique_id: page.id,
                                   preload: page.is_first) %>
            </div>

            <div class="hover_video">
            </div>

            <%= linkmap_areas_div(@entry, configuration) %>
            <div class="description_overlay">
              <div class="description_overlay_wrapper">
                <div class="link_title"></div>
                <div class="link_description"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="touch_indicator"></div>
    <div class="external_link_loading_indicator">
      <div class="circle_inner">
        <div class="circle_innerst"></div>
      </div>
    </div>

    <div class="arrow_up linkmap-arrow">
      <span class="hint"><%= t('.scroll_up') %></span>
    </div>
    <div class="arrow_left linkmap-arrow">
      <span class="hint"><%= t('.scroll_left') %></span>
    </div>
    <div class="arrow_right linkmap-arrow">
      <span class="hint"><%= t('.scroll_right') %></span>
    </div>
    <div class="arrow_down linkmap-arrow">
      <span class="hint"><%= t('.scroll_down') %></span>
    </div>
  </div>
  <div class="content">
    <div class="linkmap-mobile_info_box">
      <div class="linkmap-paginator">
        <div class="linkmap-paginator-scroller">
          <div>
            <div class="linkmap-paginator-pages linkmap-mobile_info_box-inner">
              <div class="linkmap-paginator-page linkmap-mobile_info_box-overview_page">
                <% if configuration['mobile_info_box_title'].present? %>
                  <h3><%= configuration['mobile_info_box_title'] %></h3>
                <% end %>

                <% if configuration['mobile_info_box_description'].present? %>
                  <p><%= raw(configuration['mobile_info_box_description']) %></p>
                <% end %>
              </div>
              <div class="linkmap-paginator-page_group">
              <% (configuration['linkmap_areas'].presence || []).each do |attributes| %>
                <div class="linkmap-paginator-page">
                  <% if attributes['link_title'].present? %>
                    <h3><%= attributes['link_title'] %></h3>
                  <% end %>

                  <% if attributes['link_description'].present? %>
                    <p><%= raw(attributes['link_description']) %></p>
                  <% end %>
                </div>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
