<%= content_tag(:div, class: 'linkmap_areas', data: data_attributes) do %>
  <% (configuration['linkmap_areas'].presence || []).each_with_index do |attributes, index| %>
    <%= linkmap_area(entry, attributes, index, configuration['background_type']) do %>
      <%= linkmap_area_background_image_div('visited',
                                            attributes,
                                            configuration,
                                            color_map_file) %>

      <% if configuration['background_type'] == 'hover_video' &&
            !find_file_in_entry(Pageflow::ImageFile, configuration['hover_image_id']) %>
        <%= background_image_div(configuration,
                                 'panorama_video',
                                 file_type: 'video_file',
                                 class: 'hover_image') %>
      <% else %>
        <%= linkmap_area_background_image_div('hover',
                                              attributes,
                                              configuration,
                                              color_map_file) %>
      <% end %>

      <div class="linkmap_marker <%= attributes['marker'] %>">
        <div class="inline_loading_spinner">
          <div class="circle_inner">
            <div class="circle_innerst"></div>
          </div>
        </div>
      </div>
      <div class="linkmap_description">
        <div class="link_title"><%= attributes['link_title'] %></div>
        <div class="link_description"><%= raw(attributes['link_description']) %></div>
      </div>
    <% end %>
  <% end %>
<% end %>
