<%= content_tag(:div, class: css_classes, data: data_attributes) do %>
  <% (configuration['linkmap_areas'].presence || []).each_with_index do |attributes, index| %>
    <%= linkmap_area(entry, attributes, index, configuration['background_type']) do %>
      <% if attributes['masked_visited_image_id'] %>
        <%= background_image_div_with_size(attributes,
                                           'masked_visited_image',
                                           class: 'video_image',
                                           file_type: 'pageflow_linkmap_page_masked_image_files',
                                           style_group: attributes['mask_color']) %>
      <% else %>
        <%= background_image_div_with_size(configuration,
                                           'visited_image',
                                           class: 'visited_image',
                                           style_group: :panorama) %>
      <% end %>

      <% if configuration['background_type'] == 'hover_video' &&
            !Pageflow::ImageFile.find_by_id(configuration['hover_image_id']) %>

        <%= background_image_div_with_size(configuration,
                                           'panorama_video',
                                           file_type: 'video_file',
                                           class: 'hover_image') %>
      <% elsif configuration['linkmap_masked_hover_image_id'] %>
        <%= background_image_div(configuration,
                                           'linkmap_masked_hover_image',
                                           class: 'hover_image',
                                           file_type: 'pageflow_linkmap_page_masked_image_files',
                                           style_group: attributes.fetch('mask_perma_id', '').split(':').last) %>
      <% else %>
        <%= background_image_div_with_size(configuration,
                                           'hover_image',
                                           class: 'hover_image',
                                           style_group: :panorama) %>
      <% end %>

      <div class="linkmap_marker <%= attributes['marker'] %>">
        <div class="inline_loading_spinner">
          <div class="circle_inner">
            <div class="circle_innerst"></div>
          </div>
        </div>
      </div>
      <div class="linkmap_description">
        <div class="link_title"><%= attributes['link_title'] %></div>
        <div class="link_description"><%= raw(attributes['link_description']) %></div>
      </div>
    <% end %>
  <% end %>
<% end %>
